html {
    min-width: 480px;
}

body {
    min-width: 480px;
}

.wrap {
	width: 100%;
	min-width: 480px;
	}

.wrap_in {
	padding: 0 0 133px 0;
	}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 54.15%;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	}

.table_container {
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	}

.entry img {
	width: auto !important;
	height: auto !important;
	}

[class*='col-'] {
	float: none;
	width: auto;
	padding: 0;
	}

header {
	height: auto;
	}

.logo{
	padding: 0 0 0 15px;
	}

.top_lk{
	display: none;
	}

.top_user{
	display: none;
	}

.top_search{
	display: none;
	}

.show_nav{
	display: block;
	}

.nav_top_bg{
	height: auto;
	background: #fff !important;
	}

.nav_top{
	display: none;
	}

.nav_mob {
	display: block;
	}

.nav_top > ul > li {
	float: none;
	padding: 20px 20px 20px 40px !important;
	border-bottom: 1px solid #ededed;
	}

.nav_top > ul > li.nav_top_lk {
	background: url('../images/nav_top_lk.png') no-repeat 15px center;
	background-size: 18px 18px;
	}

.nav_top > ul > li.sub_nav:hover {
	background: #f0f0f0;
	}

.nav_top > ul > li > a {
	float: none;
	display: inline;
	height: auto;
	color: #000 !important;
	font-size: 16px;
	line-height: 21px;
	}

.nav_top > ul > li.sub_nav:hover > a {
	color: #000 !important;
	}

.nav_top > ul > li > a:hover, .nav_top > ul > li.sub_nav:hover > a:hover {
	color: #1d36b4 !important;
	}

.nav_top > ul > li.sub_nav > a:before {
	width: 13px;
	height: 13px;
	background: url('../images/sel.svg') no-repeat !important;
	background-size: 13px 13px !important;
	right: auto;
	left: -20px;
	transition: all 0.3s 0.02s ease;
	}

.nav_top > ul > li.sub_nav:hover > a:before {
	transform: translateY(-50%) rotate(90deg);
	}

.nav_top_sub {
	width: auto;
	padding: 14px 0 0 25px;
	background: #f0f0f0;
	position: relative;
	top: 0px;
	}

.nav_top_sub .wrap{
	width: 100%;
	min-width: 100%;
	}

.nav_top_sub ul {
	float: none;
	width: auto;
	padding: 0;
	}

.nav_top_sub ul li {
	padding: 8px 0;
	}

.home_top {
	margin: 0;
	padding: 57px 0;
	}

.home_top_txt {
	margin: 0 15px;
	font-size: 16px;
	line-height: 24px;
	}

.home_top_txt:before {
	top: 15px;
	}

.home_top_txt h1 {
	font-size: 30px;
	line-height: 36px;
	}

.home_top_e {
	padding: 0 0 20px 0;
	}


.home_title{
	padding: 0 20px 20px 65px;
	font-size: 16px;
	line-height: 24px;
	}

.home_title:before {
	top: 13px;
	}

.home_title_t{
	padding: 0 0 12px 0;
	font-size: 24px;
	line-height: 32px;
	}


.home_min{
	padding: 50px 55px 50px 80px;
	background: none;
	font-size: 16px;
	line-height: 24px;
	}

.home_min_i{
	font-size: 14px;
	}


.plans{
	height: 574px;
	padding: 50px 10px 0 10px;
	}

.plans .home_title{
	max-width: 320px;
	}


.plan_d3 {
	left: 84%;
	}


.tipes {
	padding: 50px 15px 30px 15px;
	background: #fff;
	}

.tipe {
	float: none;
	width: auto;
	max-width: 450px;
	margin: 0 auto 20px auto;
	}


.home_tab {
	padding: 35px 15px;
	}



.home_table tbody {
	display: block;
	}

.home_table tr {
	display: block;
	padding: 17px 10px;
    border-bottom: 1px solid #d9d9d9;
	}

.home_table tr.mob_tr_top {
	border-bottom: 3px solid #1d36b4
	}

.home_table tr:before, .home_table tr:after {content: " ";display: table;}
.home_table tr:after {clear: both;}
.home_table tr {*zoom: 1;}

.home_table tr th {
	display: block;
	width: 100%;
	padding: 0;
	border: 0;
	}

.home_table tr td {
	display: block;
	width: 100%;
    border: 0;
	padding: 0;
	}

.home_table .mob_hide {
	display: none;
	}

.home_table tr .mob_th_a {
	padding: 0 0 5px 0;
	}

.home_table tr .mob_th_a::after {
    content: attr(data-th) "";
    display: block;
	padding: 15px 0 0 0;
	color: #919191;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	}

.home_table tr .mob_th_b {
	float: left;
	width: auto;
	padding: 0 27px 0 0;
	}

.home_table tr .mob_th_b::before {
    content: attr(data-th) "";
    display: block;
	padding: 0 0 5px 0;
	font-size: 14px;
	text-transform: uppercase;
	}



#content {
	padding: 25px 15px;
	}

.docs_title {
	float: none;
	padding: 0;
	}

.docs_sorts {
	float: none;
	padding: 0 0 6px 0;
	}

.docs_sort_km {
	padding: 0 0 10px 0;
	}

.docs_sort_year {
	float: right;
	padding: 0 0 10px 0;
	}

.doc_list_r {
	margin: 0 0 0 100px;
	}


.p_nav {
	padding: 5px 0 15px 0;
	}


.p_nav .p_nav_prev{
	margin: 0 20px 0 0;
	}

.p_nav .p_nav_next{
	margin: 0 0 0 20px;
	}


.slick-dots {
	padding: 10px 0 0 0;
	}


.login_form {
	width: 450px;
	}

.login_form h1 {
	margin: 0 0 30px 0;
	}

.login_form_cb {
	padding: 0 0 30px 0;
	}

.login_form_reg{
	padding: 34px 0 0 0;
	}


.reg_form {
	width: 450px;
	}

.reg_form:before {
	display: none;
	}

.reg_form_bl{
	padding: 20px 10px 3px 10px;
	}

.reg_form h1 {
	padding: 0 10px;
	}

footer {
	min-height: 73px;
    margin: -133px 0 0 0;
	}

.logo_bot{
	padding: 4px 0 0 15px;
	}

.show_bot_nav{
	display: block;
    margin-top: 22px;
	}

.nav_bot{
	float: none;
	display: none;
	width: auto;
	}